@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 }

 body{
    width: 100%;
    height: 100%;
    font-family:'Nunito Sans', sans-serif;
    background-color: white;
 }

 @media(max-width:900px){
    nav{
        display: none;
    }
}

#presentación{
    width: 100%; 
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center; 
    background-image: url(./Imágenes/pexels-tara-winstead-7663174.jpg);
    background-size: cover;
    background-position: bottom; 
    padding-top: 60px; 
    padding-bottom:2px;
}

/* Div 1° de contenedor principal de #presentación  */

.presentación_datos{ 
    width: 90%;
    margin: 0 auto; 
    display: contents; 
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
        
    }

/* h2 */
    .datos{
        width: 70%;
        margin: 0 auto;
        padding-right: 5px;
        font-size: 35px;
        text-align: center;
        padding-top: 25px;

}

/* h1 */
    h1{
        width: 80%;
        margin: 0 auto;
        font-size: 45px;
        text-align: center;
   } 

/* texto presentación: descripción */
    .presentación_descripción{
        font-size:20px; 
    }

    /* Botón */
.boton-presentación{
    width: 180px; 
    border: 3px;
    border-radius: 100px;
    border-bottom: transparent;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(158, 64, 73);
    padding-top: 100px;
}
    
a .boton-presentación{
    margin: 0 auto;
    padding: 10px;
    margin:0px 95px;
    margin-top: 20px;
 }

 a .boton-presentación:hover{
    background-color: rgb(129, 179, 118); 
    opacity: 0.8; 
}

/* Div de la foto */
.presentación_foto{
    flex-direction: column; 
    width: 460px;
    height: 460px;
    padding-top: 10px;
    margin: 0px 20px;
}

 img{
    width: 280px;
    height:280px;   
    object-fit: cover;
}      
 /* FIN DE LA 1° SECCIÓN: PRESENTACIÓN */

/* 2° SECCIÓN: CONOCIMIENTOS */
    #Mis_Conocimientos{ 
        max-width: 100%; 
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        text-align: center; 
        background-image: url(./Imágenes/pexels-rachel-claire-4846457.jpg);
        background-position: top; 
        padding-top: 30px; 
        padding-bottom:50px;
        position: right;
        /* margin: 40px 30px;  */
        
    }
 /* Contenedor de título y párrafo */
 .h2_p_mis_conocimientos{
    display: contents;
    text-align: center;
    padding-bottom: 15px;
    margin-right: 10px;

}

.h2_mis_conocimientos{
    font-size: 45px;
    text-align: center;
    margin-left: -12px;
}
   
.texto_mis_conocimientos{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

.Container_mis_conocimientos{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2px;
}

.fa-brands {
    font-size: 65px;
    margin-top: 30%;
}

 .html{
    width: 40%;
    height: 160px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 10px;
}

.css{
    width: 40%;
    height: 160px;
    border: 3px;
    border-radius:  10px;
    text-align: center;
    background-color: whitesmoke;
    /* background-color: rgb(243, 242, 229); */
    margin: 10px;
}

.Sass{
    width: 40%;
    height: 160px;
    /* height:220px; */
    border: 3px;
    border-radius:  10px;
    text-align: center;
    background-color: whitesmoke;
    /* background-color: rgb(243, 242, 229); */
    margin: 10px;
}

.Javascript{
    width: 40%;
    height: 160px;
    border: 3px;
    border-radius:  10px;
    text-align: center;
    background-color: whitesmoke;
    margin: 10px;
}

.React{
    width: 40%;
    height: 160px;
    border: 3px;
    border-radius: 10px;
    text-align: center;
    background-color: whitesmoke;
    margin: 10px;
}

.Git{
    width: 40%;
    height: 160px;
    border: 3px;
    border-radius: 10px;
    text-align: center;
    background-color: whitesmoke;
    margin: 10px;
}


 /* 3° SECCIÓN: CITA PERSONAL */
   .cita{  
        width: 100%;
        /* height: fit-content; */
        margin: 0 auto;
        background-image:url(./Imágenespexels-karolina-grabowska-4210804.jpg);
        opacity: 85%;
        background-position: bottom;background-size: cover;
        padding-bottom: 10px;
      
    }

    .cita:hover{
        background-color:rgb(245, 220, 212);
    }
    
    .párrafo_cita{
        font-size: 20px;
    }

    .párrafo_cita:hover{
        color: rgb(255, 153, 0);
    }

    .autor_cita{
        font-size: 18px;
    } 

/* 4° SECCIÓN */
 #mis_proyectos{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    background-image:url(./Imágenes/pexels-pixabay-66284.jpg);
    background-position: top;
    background-size: cover;
    padding-bottom: 50px;
   }
   
   .h2_mis_proyectos{
    font-size: 45px;
   }

   .p_mis_proyectos{
    font-size: 18px;
    padding: 5%;
    padding-top: 10px;
    text-align: center;
   }

/* Contenedor de la section "mis_proyectos" */
  .Container_mis_proyectos{
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 50px;
        margin-top: 40px;

    }

    .ic_{
        width: 48%;
    }

    /* 1° Div */
 .ic_Kysbel_Romero{
    width: 40%;
     border: 1px solid #e0e0e0;
     border-radius:  10px; 
     text-align: center;
     margin: 5px 6px;
     padding-top: 10px;
     padding-bottom: 10px;
     /* margin-bottom: 30px;   */
     cursor: pointer;
 }

 .p_Kysbel_Romero{
    font-size: 20px;
    color: red;
 }
 
 /* 2° Div */
 .ic_Generador_memes{
     width: 40%;
     border: 1px solid #e0e0e0;
     border-radius:  10px; 
     text-align: center;
     margin: 5px 6px;
     padding-top: 10px;
     padding-bottom: 10px;
     cursor: pointer;
 }
 
 /* 3° Div */
 .ic_Match_3{
     width: 40%;
     border: 1px solid #e0e0e0;
     border-radius:  10px; 
     text-align: center;
     margin:5px 6px;
     padding-top: 10px;
     padding-bottom: 10px;
     cursor: pointer;
 }
 
 /* 4° Div */
 .ic_Controlador_de_Gastos{
     width: 40%;
     border: 1px solid #e0e0e0;
     border-radius:  10px; 
     text-align: center;
     margin:5px 6px;
     padding-top: 10px;
     padding-bottom: 10px;
     cursor: pointer;
 }
 
 /* 5° Div */

 .ic_Administrador_de_Reuniones{
     width: 40%;
     border: 1px solid #e0e0e0;
     border-radius:  10px; 
     text-align: center;
     margin-bottom: 30px;
     padding-top: 10px; 
     padding-bottom: 10px;
     cursor: pointer;
 }
 
 /* 6° Div */
 .ic_Todo_app{
     width: 40%;
     border: 2px solid #e0e0e0;
     border-radius:  10px; 
     text-align: center;
     margin:5px 6px;
     padding-top: 10px;
     padding-bottom: 10px;
     cursor: pointer;
 }
 
 /* 7° Div */
 .ic_Buscador_de_películas{
     width: 40%;
     border: 1px solid #e0e0e0;
     border-radius:  10px;
     text-align: center;
     margin:5px 6px;
     padding-top: 10px;
     padding-bottom: 10px;
     cursor: pointer;
 }
 
/* 5° SECCIÓN: FORMULARIOS */
    .Container_Contáctame{ 
        max-width: 100%;
        display: flex;
         flex-wrap: wrap;
        flex-direction: column; 
        text-align:center;
        background-image: url(./Imágenes/pexels-sl-wong-1023953.jpg);
        background-position: top;
        background-size: cover;
        padding-top: 50px; 
    }

/* Mis Redes Sociales */
.formulario_contáctame{ 
    width: 100%;
    flex-direction: column;
    justify-content: flex-start; 
}

.h2_formulario{
    font-size: 40px;
    padding-bottom: 10px;
}

.p_formulario{
    font-size: 18px;
    padding: 5%;
    padding-top: 10px;
    text-align: center; 
}

.Container_enlaces{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.enlaces_a_mis_redes_formulario{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.enlace_form_redes{
    width: 25px;
    height: 25px;
}
    

.enlaces_a_mis_redes_formulario a{ 
    font-size: 18px;
    padding: 15px; 
}

/* Formulario */
    .formulario_escríbeme{ 
        width: 100%;
        flex-direction: column;
        justify-content: flex-start; 
        padding: 15px 10px;
    }
   
    .h2_formulario_escríbeme{
        width: 0;
        margin: 0 auto;
        font-size: 40px;
        padding-bottom: 10px;

    }

    input{
        border: 5px;
        border-radius: 15px;
        padding: 10px;
        margin: 8px;
    }

    .formulario_escríbeme_nombreyapellido{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        padding: 20px 20px;
        margin-bottom: 10px;
        margin-bottom: 18px;
    }

    .input_container_email{
        flex-grow: initial;
        display: block;
        flex-direction: column;
        font-size: 18px;
        padding: 10px 25px;
        margin-bottom: 10px;
    }

/* FOOTER */
    footer{
        width: 100%;
        background-image: url(./Imágenes/rojo_alreves.jpg);
        background-position: bottom;
        background-size: cover;
    }

/* Contenedor principal */
.Container_footer{
     flex-direction: row;
     display: inline-block;
} 
 
/* Enlaces internos */
.enlaces_internos_footer{
    display: none;
     margin-top: 0;
}

.enlaces_internos_footer a{
    display: inline-block;
}

/* AUDIO */
audio{
    width: 5px;
    background-color: transparent;
    color: transparent;
}
