@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body{
    height: 100%vh;
    width: 100%vw;
    font-family: 'Nunito Sans', sans-serif;
}


/* MENÚ DE NAVEGACIÓN */
nav{
    height: 20%;
    width: 100%;
    background-color:  rgb(235, 235, 235);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    align-items: center;  
    font-family: 'Nunito Sans', sans-serif; 
    /* background-attachment: fixed; */
} 

ul li{
   display: inline-block;
   font-size: 20px;
   margin: 20px;
}

ul li a{
  text-decoration: none;  
  color: black ;
}

ul li a:hover{
    color:rgb(255, 153, 0);
}

.botón_menú{
    font-size: 18px;
    border-radius: 25px;
    border-bottom: transparent;
    background-color: rgb(158, 64, 73);
    cursor:pointer;
    padding: 10px;
}

.botón_menú:hover{
    background-color: rgb(255, 153, 0);
}  */ */
/* FIN DEL MENÚ DE NAVEGACIÓN */


/* INICIO DE SECCIONES (MAIN) */
    /* 1° SECCIÓN: PRESENTACIÓN */

main{
    height: 60%;
}

#presentación{
    height: 12%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    background-color:antiquewhite;
    padding-bottom: 90px; 
}

.presentación_datos{
    width: 85%;
    padding: 80px 65px;
}

.datos{
    font-size: 50px;
}

.presentación_descripción{
    font-size: 25px;
    margin: 10px;
}

h1{
    font-size: 70px;
}

.boton-presentación{
    border-radius: 100px;
    border-bottom: transparent;
    font-size: 18px;
    width: 180px;
    cursor: pointer;
    background-color: rgb(158, 64, 73);
 
}

a .boton-presentación{
     padding: 10px;
}

a .boton-presentación:hover{
    background-color: rgb(255, 153, 0);
}

.presentación_foto{
    height: 90px;
    padding-right: 45px;
}
/* FIN DE LA 1° SECCIÓN: PRESENTACIÓN */