@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body{
    height: 100%vh;
    width: 100%vw;
    font-family: 'Nunito Sans', sans-serif;
}


/* MENÚ DE NAVEGACIÓN */
nav{
    height: 20%;
    width: 100%;
    background-color:  rgb(235, 235, 235);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    align-items: center;  
    font-family: 'Nunito Sans', sans-serif; 
    /* background-attachment: fixed; */
} 

ul li{
   display: inline-block;
   font-size: 20px;
   margin: 20px;
}

ul li a{
  text-decoration: none;  
  color: black ;
}

ul li a:hover{
    color:rgb(255, 153, 0);
}

.botón_menú{
    font-size: 18px;
    border-radius: 25px;
    border-bottom: transparent;
    background-color: rgb(158, 64, 73);
    cursor:pointer;
    padding: 10px;
}

.botón_menú:hover{
    background-color: rgb(255, 153, 0);
}  */ */
/* FIN DEL MENÚ DE NAVEGACIÓN */


/* INICIO DE SECCIONES (MAIN) */
    /* 1° SECCIÓN: PRESENTACIÓN */

main{
    height: 60%;
}

#presentación{
    height: 12%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    background-color:antiquewhite;
    padding-bottom: 90px; 
}

.presentación_datos{
    width: 85%;
    padding: 80px 65px;
}

.datos{
    font-size: 50px;
}

.presentación_descripción{
    font-size: 25px;
    margin: 10px;
}

h1{
    font-size: 70px;
}

.boton-presentación{
    border-radius: 100px;
    border-bottom: transparent;
    font-size: 18px;
    width: 180px;
    cursor: pointer;
    background-color: rgb(158, 64, 73);
 
}

a .boton-presentación{
     padding: 10px;
}

a .boton-presentación:hover{
    background-color: rgb(255, 153, 0);
}

.presentación_foto{
    height: 90px;
    padding-right: 45px;
}
/* FIN DE LA 1° SECCIÓN: PRESENTACIÓN */

/* 2° SECCIÓN: CONOCIMIENTOS */

#Mis_Conocimientos{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    display: block;
    padding: 60px 45px;
    background-color: rgb(238, 238, 238);
    text-align: center;
}

.h2_mis_conocimientos{
    font-size: 55px;
    text-align: center;
    padding-top: 30px;
}

.texto_mis_conocimientos{
  font-size: 25px;
  padding-top: 30px;
}

.Container_mis_conocimientos{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px;
}

.html{
    width: 30%;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(243, 242, 229);
    margin: 10px;
}

.html:hover{
    background-color: rgb(221, 219, 191); 
}

.h3_html{
    text-align: center;
    margin-top: 10%;
}

.css{
    width: 30%;
    height: 300px;
    border: 3px;
    border-radius:  10px;
    text-align: center;
    background-color: rgb(243, 242, 229);
    margin: 10px;
}

.css:hover{
    background-color: rgb(221, 219, 191); 
}

.h3_css{
    text-align: center;
    margin-top: 10%;
}

.Sass{
    width: 30%;
    height: 300px;
    border: 3px;
    border-radius:  10px;
    text-align: center;
    background-color: rgb(243, 242, 229);
    margin: 10px;
}

.Sass:hover{
    background-color: rgb(221, 219, 191); 
}

.h3_Sass{
    text-align: center;
    margin-top: 10%;
}

.Javascript{
    width: 30%;
    height: 300px;
    border: 3px;
    border-radius:  10px;
    text-align: center;
    background-color: rgb(243, 242, 229);
    /* background-color: rgb(221, 219, 191); */
    margin: 10px;
}

.Javascript:hover{
    background-color: rgb(221, 219, 191); 
}

.h3_Javascript{
    text-align: center;
    margin-top: 10%;
}

.React{
    width: 30%;
    height: 300px;
    border: 3px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(243, 242, 229);
    /* background-color: rgb(221, 219, 191); */
    margin: 10px;
}

.React:hover{
    background-color: rgb(221, 219, 191); 
}

.h3_React{
    text-align: center;
    margin-top: 10%;
}

.Git{
    width: 30%;
    height: 300px;
    border: 3px;
    border-radius: 10px;
    text-align: center;
    /* background-color: rgb(221, 219, 191); */
    background-color: rgb(243, 242, 229);
    margin: 10px;
}

.Git:hover{
    background-color: rgb(221, 219, 191); 
}

.h3_Git{
    text-align: center;
    margin-top: 10%;
}

.fa-brands{
    font-size: 120px;
    margin-top: 18%;
}

/* 3° SECCIÓN: CITA PERSONAL */
